In [1]:
import pyspark
import pandas as pd
pd.read_csv('melbourne_property_data/MELBOURNE_HOUSE_PRICES_LESS.csv')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('SparkPractice').getOrCreate()

In [4]:
spark

In [5]:
spark_df = spark.read.csv('melbourne_property_data/MELBOURNE_HOUSE_PRICES_LESS.csv')

In [6]:
spark_df.show()

+--------------+------------------+-----+----+-------+------+-------------+---------+--------+--------------------+-------------+--------+--------------------+
|           _c0|               _c1|  _c2| _c3|    _c4|   _c5|          _c6|      _c7|     _c8|                 _c9|         _c10|    _c11|                _c12|
+--------------+------------------+-----+----+-------+------+-------------+---------+--------+--------------------+-------------+--------+--------------------+
|        Suburb|           Address|Rooms|Type|  Price|Method|      SellerG|     Date|Postcode|          Regionname|Propertycount|Distance|         CouncilArea|
|    Abbotsford|     49 Lithgow St|    3|   h|1490000|     S|       Jellis|1/04/2017|    3067|Northern Metropol...|         4019|       3|  Yarra City Council|
|    Abbotsford|     59A Turner St|    3|   h|1220000|     S|     Marshall|1/04/2017|    3067|Northern Metropol...|         4019|       3|  Yarra City Council|
|    Abbotsford|     119B Yarra St|    3|   h|1420000|     S|       Nelson|1/04/2017|    3067|Northern Metropol...|         4019|       3|  Yarra City Council|
|    Aberfeldie|        68 Vida St|    3|   h|1515000|     S|        Barry|1/04/2017|    3040|Western Metropolitan|         1543|     7.5|Moonee Valley Cit...|
|  Airport West|  92 Clydesdale Rd|    2|   h| 670000|     S|       Nelson|1/04/2017|    3042|Western Metropolitan|         3464|    10.4|Moonee Valley Cit...|
|  Airport West|      4/32 Earl St|    2|   t| 530000|     S|       Jellis|1/04/2017|    3042|Western Metropolitan|         3464|    10.4|Moonee Valley Cit...|
|  Airport West|    3/74 Hawker St|    2|   u| 540000|     S|        Barry|1/04/2017|    3042|Western Metropolitan|         3464|    10.4|Moonee Valley Cit...|
|  Airport West| 1/26 Highridge Cr|    3|   h| 715000|    SP|       Nelson|1/04/2017|    3042|Western Metropolitan|         3464|    10.4|Moonee Valley Cit...|
|     Albanvale|     1 Jackson Cct|    6|   h|   null|    PI|hockingstuart|1/04/2017|    3021|Western Metropolitan|         1899|      14|Brimbank City Cou...|
|   Albert Park|       18 Mills St|    3|   h|1925000|     S|       Cayzer|1/04/2017|    3206|Southern Metropol...|         3280|       3|Port Phillip City...|
|        Albion|3/15 Drummartin St|    3|   u| 515000|     S|      Douglas|1/04/2017|    3020|Western Metropolitan|         2185|    10.5|Brimbank City Cou...|
|        Albion|    3A Kororoit St|    4|   h| 717000|     S|        Bells|1/04/2017|    3020|Western Metropolitan|         2185|    10.5|Brimbank City Cou...|
|    Alphington|      55 Fulham Rd|    2|   h|1675000|     S|        Miles|1/04/2017|    3078|Northern Metropol...|         2211|     5.7|Darebin City Council|
|    Alphington|    41 Toolangi Rd|    4|   h|2008000|     S|       Jellis|1/04/2017|    3078|Northern Metropol...|         2211|     5.7|Darebin City Council|
|        Altona|      9 Delmont Av|    2|   h| 860000|    SP|       Barlow|1/04/2017|    3018|Western Metropolitan|         5301|      11|Hobsons Bay City ...|
|Altona Meadows|      57 Tatman Dr|    4|   h|   null|    SN|        Barry|1/04/2017|    3028|Western Metropolitan|         7630|    15.5|Hobsons Bay City ...|
|  Altona North|     14 Seventh Av|    3|   h| 720000|     S|       Hunter|1/04/2017|    3025|Western Metropolitan|         5132|     9.4|Hobsons Bay City ...|
|      Armadale|  2/23 Ashleigh Rd|    2|   u| 836000|     S|       Jellis|1/04/2017|    3143|Southern Metropol...|         4836|     6.3|Stonnington City ...|
|      Armadale|      6A Auburn Gr|    2|   h|2110000|     S|       Jellis|1/04/2017|    3143|Southern Metropol...|         4836|     6.3|Stonnington City ...|
+--------------+------------------+-----+----+-------+------+-------------+---------+--------+--------------------+-------------+--------+--------------------+
only showing top 20 rows

In [8]:
# Take Header
df = spark.read.option('header', 'true').csv('melbourne_property_data/MELBOURNE_HOUSE_PRICES_LESS.csv')

In [9]:
### Show size of Pyspark df
columns = len(df.columns)
rows = df.count()
print(rows, columns)

63023 13

In [10]:
df.show(5)
df.printSchema()     # Check datatype of each column
#type(df)

+------------+----------------+-----+----+-------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+
|      Suburb|         Address|Rooms|Type|  Price|Method| SellerG|     Date|Postcode|          Regionname|Propertycount|Distance|         CouncilArea|
+------------+----------------+-----+----+-------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+
|  Abbotsford|   49 Lithgow St|    3|   h|1490000|     S|  Jellis|1/04/2017|    3067|Northern Metropol...|         4019|       3|  Yarra City Council|
|  Abbotsford|   59A Turner St|    3|   h|1220000|     S|Marshall|1/04/2017|    3067|Northern Metropol...|         4019|       3|  Yarra City Council|
|  Abbotsford|   119B Yarra St|    3|   h|1420000|     S|  Nelson|1/04/2017|    3067|Northern Metropol...|         4019|       3|  Yarra City Council|
|  Aberfeldie|      68 Vida St|    3|   h|1515000|     S|   Barry|1/04/2017|    3040|Western Metropolitan|         1543|     7.5|Moonee Valley Cit...|
|Airport West|92 Clydesdale Rd|    2|   h| 670000|     S|  Nelson|1/04/2017|    3042|Western Metropolitan|         3464|    10.4|Moonee Valley Cit...|
+------------+----------------+-----+----+-------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+
only showing top 5 rows

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- CouncilArea: string (nullable = true)

In [11]:
df = spark.read.csv('melbourne_property_data/MELBOURNE_HOUSE_PRICES_LESS.csv', header=True, inferSchema=True)
# inferSchema=True correctly reads the datatype of all columns
df.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: integer (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Postcode: integer (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: integer (nullable = true)
 |-- Distance: double (nullable = true)
 |-- CouncilArea: string (nullable = true)

In [12]:
# Retrieve column names
df.columns

# df.head() gives data rows in lists instead of dataframe

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Postcode',
 'Regionname',
 'Propertycount',
 'Distance',
 'CouncilArea']

In [13]:
# Select columns, returns dataframe
df.select('Suburb', 'Rooms', 'Price', 'Distance').show()

+--------------+-----+-------+--------+
|        Suburb|Rooms|  Price|Distance|
+--------------+-----+-------+--------+
|    Abbotsford|    3|1490000|     3.0|
|    Abbotsford|    3|1220000|     3.0|
|    Abbotsford|    3|1420000|     3.0|
|    Aberfeldie|    3|1515000|     7.5|
|  Airport West|    2| 670000|    10.4|
|  Airport West|    2| 530000|    10.4|
|  Airport West|    2| 540000|    10.4|
|  Airport West|    3| 715000|    10.4|
|     Albanvale|    6|   null|    14.0|
|   Albert Park|    3|1925000|     3.0|
|        Albion|    3| 515000|    10.5|
|        Albion|    4| 717000|    10.5|
|    Alphington|    2|1675000|     5.7|
|    Alphington|    4|2008000|     5.7|
|        Altona|    2| 860000|    11.0|
|Altona Meadows|    4|   null|    15.5|
|  Altona North|    3| 720000|     9.4|
|      Armadale|    2| 836000|     6.3|
|      Armadale|    2|2110000|     6.3|
|      Armadale|    3|1386000|     6.3|
+--------------+-----+-------+--------+
only showing top 20 rows

In [14]:
#df.describe()
df.describe().show()

+-------+----------+-----------+-----------------+-----+-----------------+------+-----------+---------+------------------+--------------------+------------------+-----------------+--------------------+
|summary|    Suburb|    Address|            Rooms| Type|            Price|Method|    SellerG|     Date|          Postcode|          Regionname|     Propertycount|         Distance|         CouncilArea|
+-------+----------+-----------+-----------------+-----+-----------------+------+-----------+---------+------------------+--------------------+------------------+-----------------+--------------------+
|  count|     63023|      63023|            63023|63023|            48433| 63023|      63023|    63023|             63023|               63023|             63023|            63023|               63023|
|   mean|      null|       null|3.110594544848706| null|997898.2414882415|  null|       null|     null|3125.6738968313157|                null| 7617.728130999793|12.68482934801682|                null|
| stddev|      null|       null|0.957551309273741| null|593498.9190372757|  null|       null|     null|125.62687746089323|                null|4424.4231673310605|7.592015369125753|                null|
|    min|Abbotsford| 1 Abbot Ct|                1|    h|            85000|    PI|    @Realty|1/04/2017|              3000|Eastern Metropolitan|                39|              0.0|Banyule City Council|
|    max|  viewbank|9c State St|               31|    u|         11200000|     W|voglwalpole|9/12/2017|              3980|    Western Victoria|             21650|             64.1|Yarra Ranges Shir...|
+-------+----------+-----------+-----------------+-----+-----------------+------+-----------+---------+------------------+--------------------+------------------+-----------------+--------------------+

In [15]:
df.select('Suburb', 'Rooms', 'Price', 'Distance').describe().show()

+-------+----------+-----------------+-----------------+-----------------+
|summary|    Suburb|            Rooms|            Price|         Distance|
+-------+----------+-----------------+-----------------+-----------------+
|  count|     63023|            63023|            48433|            63023|
|   mean|      null|3.110594544848706|997898.2414882415|12.68482934801682|
| stddev|      null|0.957551309273741|593498.9190372757|7.592015369125753|
|    min|Abbotsford|                1|            85000|              0.0|
|    max|  viewbank|               31|         11200000|             64.1|
+-------+----------+-----------------+-----------------+-----------------+

# Editing Columns

In [16]:
### Adding columns to PySpark df

# Adding empty column
from pyspark.sql.functions import lit, StringType

df = df.withColumn('SquareFootage', lit(None).cast(StringType()))

# Adding column related to other columns
df = df.withColumn('PricePerRoom', df['Price']/df['Rooms'])

In [17]:
df.select('Suburb', 'Rooms', 'Price', 'Distance', 'SquareFootage', 'PricePerRoom').show()

+--------------+-----+-------+--------+-------------+------------------+
|        Suburb|Rooms|  Price|Distance|SquareFootage|      PricePerRoom|
+--------------+-----+-------+--------+-------------+------------------+
|    Abbotsford|    3|1490000|     3.0|         null| 496666.6666666667|
|    Abbotsford|    3|1220000|     3.0|         null| 406666.6666666667|
|    Abbotsford|    3|1420000|     3.0|         null| 473333.3333333333|
|    Aberfeldie|    3|1515000|     7.5|         null|          505000.0|
|  Airport West|    2| 670000|    10.4|         null|          335000.0|
|  Airport West|    2| 530000|    10.4|         null|          265000.0|
|  Airport West|    2| 540000|    10.4|         null|          270000.0|
|  Airport West|    3| 715000|    10.4|         null|238333.33333333334|
|     Albanvale|    6|   null|    14.0|         null|              null|
|   Albert Park|    3|1925000|     3.0|         null| 641666.6666666666|
|        Albion|    3| 515000|    10.5|         null|171666.66666666666|
|        Albion|    4| 717000|    10.5|         null|          179250.0|
|    Alphington|    2|1675000|     5.7|         null|          837500.0|
|    Alphington|    4|2008000|     5.7|         null|          502000.0|
|        Altona|    2| 860000|    11.0|         null|          430000.0|
|Altona Meadows|    4|   null|    15.5|         null|              null|
|  Altona North|    3| 720000|     9.4|         null|          240000.0|
|      Armadale|    2| 836000|     6.3|         null|          418000.0|
|      Armadale|    2|2110000|     6.3|         null|         1055000.0|
|      Armadale|    3|1386000|     6.3|         null|          462000.0|
+--------------+-----+-------+--------+-------------+------------------+
only showing top 20 rows

In [18]:
### Removing columns
df = df.drop('SquareFootage')
df.show(5)

+------------+----------------+-----+----+-------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+-----------------+
|      Suburb|         Address|Rooms|Type|  Price|Method| SellerG|     Date|Postcode|          Regionname|Propertycount|Distance|         CouncilArea|     PricePerRoom|
+------------+----------------+-----+----+-------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+-----------------+
|  Abbotsford|   49 Lithgow St|    3|   h|1490000|     S|  Jellis|1/04/2017|    3067|Northern Metropol...|         4019|     3.0|  Yarra City Council|496666.6666666667|
|  Abbotsford|   59A Turner St|    3|   h|1220000|     S|Marshall|1/04/2017|    3067|Northern Metropol...|         4019|     3.0|  Yarra City Council|406666.6666666667|
|  Abbotsford|   119B Yarra St|    3|   h|1420000|     S|  Nelson|1/04/2017|    3067|Northern Metropol...|         4019|     3.0|  Yarra City Council|473333.3333333333|
|  Aberfeldie|      68 Vida St|    3|   h|1515000|     S|   Barry|1/04/2017|    3040|Western Metropolitan|         1543|     7.5|Moonee Valley Cit...|         505000.0|
|Airport West|92 Clydesdale Rd|    2|   h| 670000|     S|  Nelson|1/04/2017|    3042|Western Metropolitan|         3464|    10.4|Moonee Valley Cit...|         335000.0|
+------------+----------------+-----+----+-------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+-----------------+
only showing top 5 rows

In [19]:
### Renaming columns
df.withColumnRenamed('Price', 'NewPrice').show(5)

+------------+----------------+-----+----+--------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+-----------------+
|      Suburb|         Address|Rooms|Type|NewPrice|Method| SellerG|     Date|Postcode|          Regionname|Propertycount|Distance|         CouncilArea|     PricePerRoom|
+------------+----------------+-----+----+--------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+-----------------+
|  Abbotsford|   49 Lithgow St|    3|   h| 1490000|     S|  Jellis|1/04/2017|    3067|Northern Metropol...|         4019|     3.0|  Yarra City Council|496666.6666666667|
|  Abbotsford|   59A Turner St|    3|   h| 1220000|     S|Marshall|1/04/2017|    3067|Northern Metropol...|         4019|     3.0|  Yarra City Council|406666.6666666667|
|  Abbotsford|   119B Yarra St|    3|   h| 1420000|     S|  Nelson|1/04/2017|    3067|Northern Metropol...|         4019|     3.0|  Yarra City Council|473333.3333333333|
|  Aberfeldie|      68 Vida St|    3|   h| 1515000|     S|   Barry|1/04/2017|    3040|Western Metropolitan|         1543|     7.5|Moonee Valley Cit...|         505000.0|
|Airport West|92 Clydesdale Rd|    2|   h|  670000|     S|  Nelson|1/04/2017|    3042|Western Metropolitan|         3464|    10.4|Moonee Valley Cit...|         335000.0|
+------------+----------------+-----+----+--------+------+--------+---------+--------+--------------------+-------------+--------+--------------------+-----------------+
only showing top 5 rows

# Handling missing values

In [70]:
no_na = df.na.drop(how='any')
print(df.count(), 'vs', no_na.count())

few_na = df.na.drop(subset=['Price'])    # Drops any rows with null in certain columns
print(df.count(), 'vs', few_na.count())

fewer_na = df.na.drop(thresh=2)    # Drops any rows with more than 2 null
print(df.count(), 'vs', fewer_na.count())


df.na.fill('Missing Value', ['Price'])    # Fill nulls in specific columns with 'Missing Value'

### Filling nulls with mean
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=['Price', 'Distance'],
                 outputCols=["{}".format(c) for c in ['Price', 'Distance']]).setStrategy('median')
imputed_df = imputer.fit(df).transform(df)

63023 vs 48433
63023 vs 48433
63023 vs 63023

# Filter Operations

In [25]:
### Filter Operations
df.filter('Price > 10000000').show()
df.filter('Price > 10000000').select('Address', 'Price', 'Rooms', 'Suburb').show()

+--------+---------+-----+----+--------+------+-------------+----------+--------+--------------------+-------------+--------+--------------------+------------+
|  Suburb|  Address|Rooms|Type|   Price|Method|      SellerG|      Date|Postcode|          Regionname|Propertycount|Distance|         CouncilArea|PricePerRoom|
+--------+---------+-----+----+--------+------+-------------+----------+--------+--------------------+-------------+--------+--------------------+------------+
|Brighton|6 Cole St|    4|   h|11200000|    VB|hockingstuart|28/10/2017|    3186|Southern Metropol...|        10579|    10.5|Bayside City Council|   2800000.0|
+--------+---------+-----+----+--------+------+-------------+----------+--------+--------------------+-------------+--------+--------------------+------------+

+---------+--------+-----+--------+
|  Address|   Price|Rooms|  Suburb|
+---------+--------+-----+--------+
|6 Cole St|11200000|    4|Brighton|
+---------+--------+-----+--------+

In [35]:
df.filter(df['Price']>10000000).show()
df.filter((df['Price']>10000000) & (df['Rooms'] > 3)).select('Address', 'Price', 'Rooms', 'Suburb').show()

df.filter(~(df['Price']>100000)).select('Address', 'Price', 'Rooms', 'Suburb').show()    # Not condition using ~

+--------+---------+-----+----+--------+------+-------------+----------+--------+--------------------+-------------+--------+--------------------+------------+
|  Suburb|  Address|Rooms|Type|   Price|Method|      SellerG|      Date|Postcode|          Regionname|Propertycount|Distance|         CouncilArea|PricePerRoom|
+--------+---------+-----+----+--------+------+-------------+----------+--------+--------------------+-------------+--------+--------------------+------------+
|Brighton|6 Cole St|    4|   h|11200000|    VB|hockingstuart|28/10/2017|    3186|Southern Metropol...|        10579|    10.5|Bayside City Council|   2800000.0|
+--------+---------+-----+----+--------+------+-------------+----------+--------+--------------------+-------------+--------+--------------------+------------+

+---------+--------+-----+--------+
|  Address|   Price|Rooms|  Suburb|
+---------+--------+-----+--------+
|6 Cole St|11200000|    4|Brighton|
+---------+--------+-----+--------+

+----------------+-----+-----+---------+
|         Address|Price|Rooms|   Suburb|
+----------------+-----+-----+---------+
|202/51 Gordon St|85000|    1|Footscray|
+----------------+-----+-----+---------+

# Groupby

In [38]:
# Number of properties sold in each suburb
df.groupBy('Suburb').count().show()

+----------------+-----+
|          Suburb|count|
+----------------+-----+
|  Brunswick West|  352|
|    Ivanhoe East|   86|
| South Melbourne|  255|
|      Cranbourne|   26|
|    Princes Hill|   32|
|         Ashwood|  195|
|       Brunswick|  644|
|South Kingsville|   57|
|       Albanvale|   37|
|        Brighton|  602|
|        Oak Park|  183|
|         Doveton|   66|
|      Brookfield|    9|
|        Lynbrook|    6|
|     Ferny Creek|    2|
|     Pascoe Vale|  529|
| Blackburn North|  191|
|     Sandringham|  278|
|   Botanic Ridge|    3|
|        Cockatoo|    2|
+----------------+-----+
only showing top 20 rows

In [44]:
# Average price and distance of properties sold in each suburb
df.groupBy('Suburb').mean().select('Suburb', 'avg(Price)', 'avg(Distance)').show()

+----------------+------------------+------------------+
|          Suburb|        avg(Price)|     avg(Distance)|
+----------------+------------------+------------------+
|  Brunswick West| 819362.6297577855| 5.200000000000016|
|    Ivanhoe East|1835818.1818181819| 7.800000000000006|
| South Melbourne|1308982.2335025382| 1.900000000000001|
|      Cranbourne| 579262.2857142857|34.699999999999996|
|    Princes Hill| 1642173.076923077|               3.5|
|         Ashwood| 1171378.148148148|10.200000000000017|
|       Brunswick| 984509.5370370371|5.2000000000000295|
|South Kingsville| 808913.0952380953| 6.199999999999998|
|       Albanvale|          504050.0|              14.0|
|        Brighton|2028910.7376237623|              10.5|
|        Oak Park| 800219.6258064517|11.200000000000019|
|         Doveton|480244.18604651163|28.799999999999983|
|      Brookfield|          482625.0|29.800000000000004|
|        Lynbrook|          632625.0|33.800000000000004|
|     Ferny Creek|          755000.0|              29.5|
|     Pascoe Vale| 767588.7990762125|               8.5|
| Blackburn North|1106540.2877697842|13.400000000000006|
|     Sandringham| 1590392.156862745|15.200000000000017|
|   Botanic Ridge|          800000.0|              34.7|
|        Cockatoo|          397000.0|              42.1|
+----------------+------------------+------------------+
only showing top 20 rows

In [47]:
# Maximum Price sold in each suburb
df.groupBy('Suburb').max().select('Suburb','max(Price)').show()

# Minimum Price sold in each suburb
df.groupBy('Suburb').min().select('Suburb','min(Price)').show()

+----------------+----------+
|          Suburb|max(Price)|
+----------------+----------+
|  Brunswick West|   2600000|
|    Ivanhoe East|   4250000|
| South Melbourne|   4600000|
|      Cranbourne|    910500|
|    Princes Hill|   2980000|
|         Ashwood|   2100000|
|       Brunswick|   2545000|
|South Kingsville|   1330000|
|       Albanvale|    655000|
|        Brighton|  11200000|
|        Oak Park|   1453000|
|         Doveton|    707000|
|      Brookfield|    567000|
|        Lynbrook|    693000|
|     Ferny Creek|    820000|
|     Pascoe Vale|   1663000|
| Blackburn North|   1800000|
|     Sandringham|   4680000|
|   Botanic Ridge|    920000|
|        Cockatoo|    397000|
+----------------+----------+
only showing top 20 rows

+----------------+----------+
|          Suburb|min(Price)|
+----------------+----------+
|  Brunswick West|    237000|
|    Ivanhoe East|    405000|
| South Melbourne|    290000|
|      Cranbourne|    336500|
|    Princes Hill|    938000|
|         Ashwood|    415000|
|       Brunswick|    170000|
|South Kingsville|    300000|
|       Albanvale|    392000|
|        Brighton|    148000|
|        Oak Park|    358500|
|         Doveton|    300000|
|      Brookfield|    420000|
|        Lynbrook|    597500|
|     Ferny Creek|    690000|
|     Pascoe Vale|    248500|
| Blackburn North|    440000|
|     Sandringham|    430000|
|   Botanic Ridge|    730000|
|        Cockatoo|    397000|
+----------------+----------+
only showing top 20 rows

# Machine Learning with PySpark

In [72]:
df.columns

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Postcode',
 'Regionname',
 'Propertycount',
 'Distance',
 'CouncilArea',
 'PricePerRoom']

In [73]:
training = imputed_df.drop('Address', 'Regionname', 'PricePerRoom', 'Propertycount')
training.show()

+--------------+-----+----+-------+------+-------------+---------+--------+--------+--------------------+
|        Suburb|Rooms|Type|  Price|Method|      SellerG|     Date|Postcode|Distance|         CouncilArea|
+--------------+-----+----+-------+------+-------------+---------+--------+--------+--------------------+
|    Abbotsford|    3|   h|1490000|     S|       Jellis|1/04/2017|    3067|     3.0|  Yarra City Council|
|    Abbotsford|    3|   h|1220000|     S|     Marshall|1/04/2017|    3067|     3.0|  Yarra City Council|
|    Abbotsford|    3|   h|1420000|     S|       Nelson|1/04/2017|    3067|     3.0|  Yarra City Council|
|    Aberfeldie|    3|   h|1515000|     S|        Barry|1/04/2017|    3040|     7.5|Moonee Valley Cit...|
|  Airport West|    2|   h| 670000|     S|       Nelson|1/04/2017|    3042|    10.4|Moonee Valley Cit...|
|  Airport West|    2|   t| 530000|     S|       Jellis|1/04/2017|    3042|    10.4|Moonee Valley Cit...|
|  Airport West|    2|   u| 540000|     S|        Barry|1/04/2017|    3042|    10.4|Moonee Valley Cit...|
|  Airport West|    3|   h| 715000|    SP|       Nelson|1/04/2017|    3042|    10.4|Moonee Valley Cit...|
|     Albanvale|    6|   h| 830000|    PI|hockingstuart|1/04/2017|    3021|    14.0|Brimbank City Cou...|
|   Albert Park|    3|   h|1925000|     S|       Cayzer|1/04/2017|    3206|     3.0|Port Phillip City...|
|        Albion|    3|   u| 515000|     S|      Douglas|1/04/2017|    3020|    10.5|Brimbank City Cou...|
|        Albion|    4|   h| 717000|     S|        Bells|1/04/2017|    3020|    10.5|Brimbank City Cou...|
|    Alphington|    2|   h|1675000|     S|        Miles|1/04/2017|    3078|     5.7|Darebin City Council|
|    Alphington|    4|   h|2008000|     S|       Jellis|1/04/2017|    3078|     5.7|Darebin City Council|
|        Altona|    2|   h| 860000|    SP|       Barlow|1/04/2017|    3018|    11.0|Hobsons Bay City ...|
|Altona Meadows|    4|   h| 830000|    SN|        Barry|1/04/2017|    3028|    15.5|Hobsons Bay City ...|
|  Altona North|    3|   h| 720000|     S|       Hunter|1/04/2017|    3025|     9.4|Hobsons Bay City ...|
|      Armadale|    2|   u| 836000|     S|       Jellis|1/04/2017|    3143|     6.3|Stonnington City ...|
|      Armadale|    2|   h|2110000|     S|       Jellis|1/04/2017|    3143|     6.3|Stonnington City ...|
|      Armadale|    3|   h|1386000|     S|     Marshall|1/04/2017|    3143|     6.3|Stonnington City ...|
+--------------+-----+----+-------+------+-------------+---------+--------+--------+--------------------+
only showing top 20 rows

In [74]:
from pyspark.ml.feature import VectorAssembler
features = ['Rooms', 'Postcode', 'Distance']

featureassembler = VectorAssembler(inputCols=features, outputCol='Independent Features')

output = featureassembler.transform(training)
output.show()

+--------------+-----+----+-------+------+-------------+---------+--------+--------+--------------------+--------------------+
|        Suburb|Rooms|Type|  Price|Method|      SellerG|     Date|Postcode|Distance|         CouncilArea|Independent Features|
+--------------+-----+----+-------+------+-------------+---------+--------+--------+--------------------+--------------------+
|    Abbotsford|    3|   h|1490000|     S|       Jellis|1/04/2017|    3067|     3.0|  Yarra City Council|    [3.0,3067.0,3.0]|
|    Abbotsford|    3|   h|1220000|     S|     Marshall|1/04/2017|    3067|     3.0|  Yarra City Council|    [3.0,3067.0,3.0]|
|    Abbotsford|    3|   h|1420000|     S|       Nelson|1/04/2017|    3067|     3.0|  Yarra City Council|    [3.0,3067.0,3.0]|
|    Aberfeldie|    3|   h|1515000|     S|        Barry|1/04/2017|    3040|     7.5|Moonee Valley Cit...|    [3.0,3040.0,7.5]|
|  Airport West|    2|   h| 670000|     S|       Nelson|1/04/2017|    3042|    10.4|Moonee Valley Cit...|   [2.0,3042.0,10.4]|
|  Airport West|    2|   t| 530000|     S|       Jellis|1/04/2017|    3042|    10.4|Moonee Valley Cit...|   [2.0,3042.0,10.4]|
|  Airport West|    2|   u| 540000|     S|        Barry|1/04/2017|    3042|    10.4|Moonee Valley Cit...|   [2.0,3042.0,10.4]|
|  Airport West|    3|   h| 715000|    SP|       Nelson|1/04/2017|    3042|    10.4|Moonee Valley Cit...|   [3.0,3042.0,10.4]|
|     Albanvale|    6|   h| 830000|    PI|hockingstuart|1/04/2017|    3021|    14.0|Brimbank City Cou...|   [6.0,3021.0,14.0]|
|   Albert Park|    3|   h|1925000|     S|       Cayzer|1/04/2017|    3206|     3.0|Port Phillip City...|    [3.0,3206.0,3.0]|
|        Albion|    3|   u| 515000|     S|      Douglas|1/04/2017|    3020|    10.5|Brimbank City Cou...|   [3.0,3020.0,10.5]|
|        Albion|    4|   h| 717000|     S|        Bells|1/04/2017|    3020|    10.5|Brimbank City Cou...|   [4.0,3020.0,10.5]|
|    Alphington|    2|   h|1675000|     S|        Miles|1/04/2017|    3078|     5.7|Darebin City Council|    [2.0,3078.0,5.7]|
|    Alphington|    4|   h|2008000|     S|       Jellis|1/04/2017|    3078|     5.7|Darebin City Council|    [4.0,3078.0,5.7]|
|        Altona|    2|   h| 860000|    SP|       Barlow|1/04/2017|    3018|    11.0|Hobsons Bay City ...|   [2.0,3018.0,11.0]|
|Altona Meadows|    4|   h| 830000|    SN|        Barry|1/04/2017|    3028|    15.5|Hobsons Bay City ...|   [4.0,3028.0,15.5]|
|  Altona North|    3|   h| 720000|     S|       Hunter|1/04/2017|    3025|     9.4|Hobsons Bay City ...|    [3.0,3025.0,9.4]|
|      Armadale|    2|   u| 836000|     S|       Jellis|1/04/2017|    3143|     6.3|Stonnington City ...|    [2.0,3143.0,6.3]|
|      Armadale|    2|   h|2110000|     S|       Jellis|1/04/2017|    3143|     6.3|Stonnington City ...|    [2.0,3143.0,6.3]|
|      Armadale|    3|   h|1386000|     S|     Marshall|1/04/2017|    3143|     6.3|Stonnington City ...|    [3.0,3143.0,6.3]|
+--------------+-----+----+-------+------+-------------+---------+--------+--------+--------------------+--------------------+
only showing top 20 rows

In [75]:
finalized_data = output.select('Independent Features', 'Price')
finalized_data.show()

+--------------------+-------+
|Independent Features|  Price|
+--------------------+-------+
|    [3.0,3067.0,3.0]|1490000|
|    [3.0,3067.0,3.0]|1220000|
|    [3.0,3067.0,3.0]|1420000|
|    [3.0,3040.0,7.5]|1515000|
|   [2.0,3042.0,10.4]| 670000|
|   [2.0,3042.0,10.4]| 530000|
|   [2.0,3042.0,10.4]| 540000|
|   [3.0,3042.0,10.4]| 715000|
|   [6.0,3021.0,14.0]| 830000|
|    [3.0,3206.0,3.0]|1925000|
|   [3.0,3020.0,10.5]| 515000|
|   [4.0,3020.0,10.5]| 717000|
|    [2.0,3078.0,5.7]|1675000|
|    [4.0,3078.0,5.7]|2008000|
|   [2.0,3018.0,11.0]| 860000|
|   [4.0,3028.0,15.5]| 830000|
|    [3.0,3025.0,9.4]| 720000|
|    [2.0,3143.0,6.3]| 836000|
|    [2.0,3143.0,6.3]|2110000|
|    [3.0,3143.0,6.3]|1386000|
+--------------------+-------+
only showing top 20 rows

In [76]:
from pyspark.ml.regression import LinearRegression as LR

### Train test split
train, test = finalized_data.randomSplit([0.75,0.25])
regressor = LR(featuresCol='Independent Features', labelCol='Price')
regressor = regressor.fit(train)

In [79]:
regressor.coefficients

DenseVector([242939.4564, 702.7952, -29136.1894])

In [80]:
regressor.intercept

-1624385.695035734

In [82]:
# Prediction
pred = regressor.evaluate(test)
#pred.predictions.show()

In [84]:
pred.meanAbsoluteError,pred.meanSquaredError

(305534.19442722714, 212560068470.78522)